name: JS CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust:
          - stable

    steps:
    - uses: actions/checkout@v3

    - uses: extractions/setup-just@v1

    - uses: actions/setup-node@v3.8.1
      with:
        node-version: lts

    - uses: denoland/setup-deno@v1.1.2

    - uses: oven-sh/setup-bun@v1
      if: ${{ matrix.os != 'windows-latest' }}
      with:
        bun-version: latest

    - name: NPM install
      run: npm ci

    - name: Build
      run: npm run build

    - name: Test
      run: npm run test
